{
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "tabWidth": 4,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 100
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.json", "*.css", "*.scss", "*.html", "*.md", "*.yml", "*.yaml", "*.xml"],
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "avoid",
        "endOfLine": "lf"
      }
    }
  ]
}