<mat-sidenav-container class="app-container">
  <mat-sidenav fixedInViewport opened mode="side" class="sidenav">
    <app-navigation-rail
      [items]="currentUserNavigationItems"
      [userRole]="currentUserRole"
      logoAlt="SQLearner Logo"
      (itemSelected)="onNavigationItemSelected($event)"
      (languageChanged)="onLanguageChanged($event)"
      (logStatusChanged)="onLogStatusChanged()"
    >
    </app-navigation-rail>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="sidenav-content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
