.form-row {
  display: flex;
  gap: 16px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  min-width: 400px;
  max-width: 600px;
}

@media screen and (max-width: 600px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }

  mat-dialog-content {
    min-width: unset;
  }
}