<h1 mat-dialog-title>Datensatz bearbeiten</h1>
<form [formGroup]="form" (ngSubmit)="onSave()">
  <mat-dialog-content class="mat-typography">
    <div class="form-container">
      <div *ngFor="let column of table.columns" class="form-field-container">
        <mat-form-field class="full-width">
          <mat-label>{{ column.name }}</mat-label>
          <input
            matInput
            [formControlName]="column.name"
            [readonly]="isPrimaryKey(column.name)"
            [type]="column.type === 'integer' || column.type === 'bigint' ? 'number' : 'text'"
          >
          <mat-error *ngIf="form.get(column.name)?.invalid">
            {{ getErrorMessage(column.name) }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Abbrechen</button>
    <button mat-button color="primary" type="submit" [disabled]="form.invalid">Speichern</button>
  </mat-dialog-actions>
</form>
