<mat-card class="topic-card">
  <mat-card-header>
    <mat-card-title>
      <div class="topic-title">
        <span>{{ topic.title }}</span>
        <div class="topic-actions" *ngIf="isTutor">
          <button mat-icon-button 
                  color="primary" 
                  (click)="edit.emit(topic)"
                  matTooltip="Edit topic">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button 
                  color="warn" 
                  (click)="delete.emit(topic.id)"
                  matTooltip="Delete topic">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="topic-description">{{ topic.description }}</p>
    
    <mat-expansion-panel 
      [expanded]="isExpanded"
      (opened)="onExpand()"
      (closed)="isExpanded = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Exercises
        </mat-panel-title>
        <mat-panel-description>
          {{ exercises.length }} exercise(s)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="exercises-container"
           cdkDropList
           (cdkDropListDropped)="onExerciseDrop($event)">
        <app-exercise-card
          *ngFor="let exercise of exercises"
          [exercise]="exercise"
          [isTutor]="isTutor"
          cdkDrag
          [cdkDragDisabled]="!isTutor"
          (edit)="onExerciseEdit($event)"
          (delete)="onExerciseDelete($event)">
        </app-exercise-card>
      </div>

      <div *ngIf="exercises.length === 0" class="empty-exercises">
        <p>No exercises available in this topic.</p>
      </div>

      <button *ngIf="isTutor"
              mat-stroked-button
              color="primary"
              class="add-exercise-button"
              (click)="openNewExerciseDialog()">
        <mat-icon>add</mat-icon>
        Add Exercise
      </button>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card> 